Zautomatyzowani/Scenarios/Realizowanie działan i raportowanie.json
{
    "name": "[Everyday on Autopilot] Actions",
    "flow": [
        {
            "id": 1,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{\n    \"data\":\n    {\n        \"add\":\n        [\n            {\n                \"title\": \"Add ML-Papers-of-the-Week to Resources\",\n                \"description\": \"🔥Highlighting the top ML papers every week. Contribute to dair-ai/ML-Papers-of-the-Week development by creating an account on GitHub. https://github.com/dair-ai/ML-Papers-of-the-Week\",\n                \"priority\": 1,\n                \"dueDate\": \"2024-03-01\",\n                \"projectId\": \"resources\",\n                \"teamId\": \"overment\",\n                \"stateId\": \"new\"\n            },\n           {\n                \"title\": \"Add ML-Papers-of-the-Week to Resources\",\n                \"description\": \"🔥Highlighting the top ML papers every week. Contribute to dair-ai/ML-Papers-of-the-Week development by creating an account on GitHub. https://github.com/dair-ai/ML-Papers-of-the-Week\",\n                \"priority\": 1,\n                \"dueDate\": \"2024-03-01\",\n                \"projectId\": \"resources\",\n                \"teamId\": \"overment\",\n                \"stateId\": \"new\"\n            }\n        ],\n        \"update\":\n        [\n            {\n                \"id\": \"f26003f2\",\n                \"title\": \"Newsletter about GPT-5\",\n                \"stateId\": \"finished\"\n            }\n        ]\n    }\n}"
            },
            "metadata": {
                "designer": {
                    "x": -4,
                    "y": 303
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "add",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.data.add}}",
                                            "o": "array:greater",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{1.data.add}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "action",
                                "scope": "roundtrip",
                                "value": "Added: \n{{2.title}} due {{2.dueDate}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Add"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "action",
                                        "type": "any",
                                        "label": "action"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 2,
                                "rowSeparator": ""
                            },
                            "mapper": {
                                "value": "{{3.action}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "Gather"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [2]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "result",
                                "scope": "roundtrip",
                                "value": "{{7.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1499,
                                    "y": 0,
                                    "name": "Set Result"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "result"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "update",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.data.update}}",
                                            "o": "text:equal",
                                            "b": ""
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{1.data.update}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "action",
                                "scope": "roundtrip",
                                "value": "Updated: \n{{5.title}} to {{5.stateId}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300,
                                    "name": "Update"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "action",
                                        "type": "any",
                                        "label": "action"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 5,
                                "rowSeparator": ""
                            },
                            "mapper": {
                                "value": "{{6.action}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300,
                                    "name": "Gather"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [5]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "result"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Get Result"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "result"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "result",
                                "scope": "roundtrip",
                                "value": "{{12.result}}\n\n{{8.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300,
                                    "name": "Set Result"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "result"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "result"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 573,
                                    "y": 615,
                                    "name": "Get Result"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "result"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}